@font-face {
    font-family: 'Neutra Text';
    src: url('NeutraText-Book.woff2') format('woff2'),
        url('NeutraText-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klarinda Playful Personal';
    src: url('KlarindaPlayfulPersonal-Regular.woff2') format('woff2'),
        url('KlarindaPlayfulPersonal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

