/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media all and (min-width: 1400px) {
	.container {
		max-width: 1600px;
	}
}
@media all and (min-width: 993px) {
	.menu_bar_area ul {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.header_socil_midea ul {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
}

@media all and (max-width: 1200px) {
	.blog-showcase {
		height: calc(100vh - 130px);
	}
	.showcase {
		min-height: calc(100vh - 120px);
	}
}
@media all and (max-width: 992px) {
	.menu_main_area {
		padding: 8px 0;
	}
	.menu_logo_area a img {
		width: auto;
		height: 65px;
	}
	.menu_bar_area ul li a {
		padding: 5px 15px;
	}
	.menu_bar_area ul li a::after {
		height: 0px;
		width: 0px;
	}
	.padding_section {
		padding: 69px 0 40px 0;
	}
	.navbar {
		display: block;
	}
	.menu_bar_area > ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: absolute;
		width: 100%;
		left: 0;
		top: 84px;
		display: none;
		z-index: 999999;
	}
	.header_socil_midea ul {
		display: none;
	}
	.menu_logo_area {
		width: 96%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: auto;
	}
	.menu_bar_area ul li a {
		display: block;
		text-align: center;
		-webkit-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
		width: 100%;
		margin: 0;
		padding: 13px 0;
		background-color: #bbb;
		border-top: 1px solid #fff;
	}
	.menu_bar_area ul li ul {
		display: block !important;
		-webkit-transition: 0.7s;
		-o-transition: 0.7s;
		transition: 0.7s;
	}
	.menu_bar_area ul > li:hover ul {
		opacity: 1;
		top: 47px;
		visibility: visible;
		width: 50%;
		margin: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center !important;
		-ms-flex-pack: center !important;
		justify-content: center !important;
		left: 0;
		right: 0;
		-webkit-transition: 0.7s;
		-o-transition: 0.7s;
		transition: 0.7s;
	}

	.blog_happiness_single_item p {
		font-size: 17px;
		text-align: justify;
		padding: 5%;
	}

	.footer_bottom_single_item.footer_bottom_single_item1 a img {
		width: 133px;
	}
	.company_single_item_area {
		margin: 20px 13px;
	}
	.showcase {
		padding: 80px;
	}
	.mission_main_area::after {
		width: 100%;
	}
	.mision_main_single_item_right {
		max-width: 100%;
	}
	.product_main_area {
		padding: 45px 0 59px 0;
	}
	.invest_main_area {
		padding: 40px 0 29px 0;
	}
	.company_main_area {
		padding: 34px 0 22px 0;
	}
	.company_main_text_area h3 {
		padding-bottom: 5px;
	}
	.about_overview_single_main_text_item a {
		padding: 9px 31px;
	}
	.contactSection .container {
		flex-direction: column;
	}
	form > *,
	form .btn,
	form > div:nth-child(5) {
		min-width: 100%;
	}
}
@media all and (max-width: 767px) {
	.text {
		padding-left: 0px;
	}
	.product_header_main_area {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		row-gap: 10px;
	}
	.develop_main_area {
		padding: 49px 0 43px 0;
	}
	.develop_main_heading_single_item_right p {
		text-align: center;
	}
	.about_overview_single_main_item {
		position: inherit;
		padding: 30px;
	}
	.about_overview_single_main_text_item a {
		position: inherit;
		margin-top: 20px;
	}
	.about_overview_single_main_text_item {
		margin: auto;
		padding: 30px 20px;
	}
	.about_overview_single_main_item {
		padding: 0;
	}
	.about_overview_main_area {
		padding: 53px 0 30px 0;
	}
	.about_map_main_area {
		padding-top: 0;
	}
	.blog_testimonial_main_area {
		padding: 10px 0;
	}
	.blog_testimonial_item_area p {
		font-size: 30px;
	}
	.blog_search_main_text_area {
		padding: 21px 15px;
	}
	.blog_mission_item_img {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
	.blog_mission_item_text {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
	.blog_mission_same_area:nth-child(1) {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.blog_mission_same_area:nth-child(2) {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.blog_mission_same_area:nth-child(3) {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
	}
	.blog_mission_same_area:nth-child(4) {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}
	.blog_mission_same_area:nth-child(5) {
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 5;
		order: 5;
	}
	.blog_mission_same_area:nth-child(6) {
		-webkit-box-ordinal-group: 7;
		-ms-flex-order: 6;
		order: 6;
	}
	.blog_mission_item_text:nth-child(2n + 1) .blog_mission_single_item_text {
		float: inherit;
	}
	.blog_mission_item_main_area {
		row-gap: 24px;
	}
	.blog_mission_main_area {
		padding: 0px 0px 70px 0;
	}
}
@media all and (max-width: 575px) {
	.mission_main_text_area,
	.develop_main_text_area {
		text-align: center;
	}
	h2 {
		font-size: 33px;
	}
	.showcase .text p {
		font-size: 16px;
	}
	.company_main_area .owl-next {
		right: -15px;
	}
	.company_main_area .owl-prev {
		left: -15px;
	}
	.about_main_menu_text ul li a {
		font-size: 14px;
	}
}
@media all and (max-width: 450px) {
	.social {
		display: none;
	}
	.showcase {
		padding: 3px;
	}
}
