html {
	font-size: 62.5%;
}
body {
	margin: 0;
	font-family: 'Neutra Text';
	font-weight: 400;
	font-size: 1.4rem;
	position: relative;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Klarinda Playful Personal';
}
p {
	margin: 0;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 65px;
	color: #bda687;
	font-weight: 400;
}
h2 {
	font-size: 48px;
	color: #fff;
	font-weight: 300;
}
h3 {
	font-size: 36px;
	color: #000;
	font-weight: 400;
}
h4 {
	color: #bda687;
	font-size: 28px;
	font-weight: 500;
}
p {
	font-size: 16px;
	color: #000;
	font-weight: 400;
}
.container-fluid {
	padding-right: 0rem;
	padding-left: 0rem;
}
.ex_container {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}

/* Btn area start  */
.arrow::after {
	display: inline-block;
	padding-left: 8px;
	content: '➞';
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	-o-transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.arrow:hover::after {
	-webkit-transform: translateX(7px);
	-ms-transform: translateX(7px);
	transform: translateX(7px);
}
.btn-style {
	color: #fff;
	display: inline-block;
	padding: 7px 25px 7px 15px;
	font-size: 14px;
	background-color: #bda687;
}
.btn-style:hover {
	color: #fff;
}

/*  ===========================  Defolt Css area  =========================== */

.menu_main_area {
	background-color: transparent;
	position: fixed;
	z-index: 99999;
	width: 100%;
	padding: 10px 0;
}
.menu_main_text_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu_logo_area a img {
	width: 160px;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}
.sticky_menu .menu_logo_area a img {
	content: url(../images/scroll-logo.png);
}

/* Menu area start  */
.menu_bar_area ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu_bar_area > ul > li > a {
	color: #fff;
	font-weight: 400;
	display: inline-block;
	padding: 25px 10px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 8px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.menu_bar_area > ul > li > a:hover {
	color: #e7bd57;
}
.menu_bar_area > ul > li a i {
	font-size: 18px;
	margin-left: 5px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
/* .menu_bar_area > ul > li a:hover i{
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
} */
.dropdownmenu {
	position: relative;
}
.menu_bar_area > ul > li a {
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.menu_main_area.sticky_menu {
	background: #fff;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	padding: 10px 0;
}
.menu_main_area.sticky_menu ul li a {
	font-weight: 400;
	color: #000;
}
.menu_main_area.sticky_menu ul li a:hover {
	color: #e7bd57;
}
/* maneu social menu area start  */
.header_socil_midea ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header_socil_midea ul li a {
	display: inline-block;
	color: #fff;
	font-size: 24px;
	padding: 27px 8px 0px 8px;
	background: #dddddd;
	margin: 0 5px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.header_socil_midea ul li a:hover {
	color: #000;
}
/* maneu social menu area End  */
.menu_bar_area ul li ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	width: 229px;
	top: 100px;
	z-index: 999999 !important;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	left: 0px;
}
.menu_bar_area ul > li:hover ul {
	opacity: 1;
	visibility: visible;
	top: 80px;
}
.menu_bar_area ul li ul li {
	width: 100%;
}
.menu_bar_area ul li ul li a {
	display: block;
	width: 100%;
	background: #bbb;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	padding: 8px 16px;
	text-align: left;
	border-top: 1px solid #fff;
}
.menu_bar_area ul li ul li a:hover {
	color: #fff;
}
/* About Menu area start  */
.about_menu_main_area {
	background-color: rgba(0, 0, 0, 1);
	padding: 10px 0;
}

/* About Menu main area start  */
.navbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 54px;
	display: none;
}
.nav-button #nav-icon3 {
	width: 29px;
	height: 16px;
	display: inline-block;
	position: relative;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.nav-button #nav-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}
.nav-button #nav-icon3 span:nth-child(1) {
	top: 0;
}
.nav-button #nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
	top: 10px;
}
.nav-button #nav-icon3 span:nth-child(4) {
	top: 20px;
}
.nav-open #nav-icon3 span:nth-child(1) {
	top: 9px;
	width: 0;
	left: 50%;
}
.nav-open #nav-icon3 span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-open #nav-icon3 span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.nav-open #nav-icon3 span:nth-child(4) {
	top: 9px;
	width: 0;
	left: 50%;
}

/* Animation */
.animate__animated.animate__bounce {
	--animate-duration: 3s;
}

/*  ===========================  Menu Css area  =========================== */

.showcase {
	position: relative;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #111;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	z-index: 2;
}
.showcase:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.showcase.active {
	right: 300px;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	opacity: 1;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	mix-blend-mode: overlay;
}

.text {
	position: relative;
	z-index: 10;
	padding-left: 40px;
	max-width: 520px;
	width: 100%;
}
.showcase .text p {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.showcase .text h2 {
	padding: 20px 0;
}
/* Social main area start  */
.social {
	position: absolute;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	left: 50px;
	top: 40%;
}
.top-line-position {
	position: relative;
}
.top-line-position::after {
	top: -440%;
	left: 50%;
	width: 1px;
	height: 390%;
	background-color: #fff;
	position: absolute;
	content: '';
}
.social li a {
	display: inline-block;
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin: 20% 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border-radius: 50px;
	background: transparent;
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.social li a:hover {
	background-color: gray;
}

/* social main area end  */

/*  ====================   Health Main area start   =================== */

/*  ====================   Health Main area start   =================== */
.develop_main_area {
	padding: 100px 0 70px 0;
}
.develop_main_heading_single_item {
	max-width: 450px;
	width: 100%;
}
.develop_main_heading_single_item h6 {
	color: #bda687;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 300;
	padding-bottom: 20px;
}
.develop_main_heading_single_item h3 {
	font-size: 38px;
}
.develop_main_heading_single_item_right img {
	width: 100%;
}
.develop_main_heading_single_item_right p {
	text-align: left;
	color: #bda687;
	font-size: 16px;
	font-weight: 400;
}

/*  ====================   Health Main area start   =================== */

/*  ====================   Mission Main area start   =================== */
.mission_main_area {
	padding: 50px 0;
	position: relative;
}
.mission_main_area:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	width: 90%;
	height: 100%;
	background-color: #f7f2ee;
	z-index: -1;
}
.mission_main_text_area,
.develop_main_text_area {
	position: relative;
	z-index: 999;
}
.mision_main_single_item img {
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}
.mision_main_single_item_right {
	max-width: 350px;
	margin: 0 auto;
	width: 100%;
}
.mission_single_item {
	padding: 15px 0;
}
.btn-color {
	color: #bda687;
}
.btn-color:hover {
	color: #bda687;
	text-decoration: underline;
}

/*  ====================   Health Main area start   =================== */

/*  ====================   Health Main area start   =================== */

.product_main_area {
	padding: 120px 0 100px 0;
	position: relative;
}
/* .product_main_area::after {
  content: url('../images/line.png');
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 500px;
}
 */
.product_header_main_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	z-index: 999;
	padding-bottom: 20px;
}
/* Single item area start  */
.product_main_single_item {
	position: relative;
}
.product_main_single_item:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.product_main_single_item:hover:after {
	background-color: transparent;
}
.product_project {
	position: absolute;
	top: 11px;
	right: 30px;
	text-align: center;
	z-index: 99;
}
.product_project_bottom {
	position: absolute;
	left: 38px;
	bottom: 30px;
	z-index: 99;
}
.product_main_single_item img {
	width: 100%;
	height: 400px;
	-o-object-fit: cover;
	object-fit: cover;
}
.product_project p {
	color: #d3e5ef;
	text-transform: uppercase;
	font-size: 18px;
}
.product_project h1 {
	color: #d3e5ef;
}
.product_project_bottom h6 {
	color: #fff;
	font-size: 20px;
}
.product_project_bottom p {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.product_project_bottom p span i {
	padding: 0 3px;
}
/* cwlcarsel main area start  */
.product_main_area .owl-dots {
	text-align: center;
}
.product_main_area .owl-dot {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background-color: #1f3e5b !important;
	margin: 0 5px;
}
.product_main_area .owl-dot.active {
	background-color: #bda687 !important;
}
.product_main_area .owl-dots {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -53px;
}

/*  ====================   Health Main area start   =================== */

/*  ====================   Health Main area start   =================== */
.invest_main_area {
	padding: 40px 0 90px 0;
}
.invest_main_text_area {
	position: relative;
	z-index: 999;
}
.invest_main_text_area h3 {
	text-align: center;
	padding-bottom: 50px;
}
/* Single item area start  */
.invest_main_single_item {
	background-color: #595959;
	text-align: center;
	padding: 40px 15px;
	position: relative;
	height: 100%;
}
/* Rakib start  */

.invest_main_single_item::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 0;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	bottom: 0;
	left: 0;
	/* background: -o-linear-gradient(#ff4495 0%, #ff6d6d 100%);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#ff4495),
		to(#ff6d6d)
	);
	background: linear-gradient(#ff4495 0%, #ff6d6d 100%); */
	background: #050505;
	z-index: 99;
}
.invest_main_single_item:hover::before {
	height: 100%;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
	z-index: 99;
}
/* Rakib end  */
/* bg number area start  */
.invest_bg_overly {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 10%;
	z-index: 1;
}
.invest_bg_overly h1 {
	color: #f7f2ee;
	font-size: 90px;
}
/* bg number area End  */
.invest_main_single_item_sub {
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 999;
}
.invest_main_single_item img {
	width: auto;
	height: 50px;
	-o-object-fit: cover;
	object-fit: cover;
}
.invest_main_single_item p {
	color: #fff;
	font-size: 20px;
	height: 130px;
}

/*  ====================   Health Main area start   =================== */

/*  ====================   Health Main area start   =================== */
.company_main_area {
	padding: 40px 0 60px 0;
}
.company_main_slider_area {
	max-width: 90%;
	width: 100%;
	margin: auto;
}
.company_single_item_area {
	margin: 20px 30px;
}
.company_single_item_area_sub {
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
	background-color: #fff;
	padding: 70px 20px;
	height: 250px;
	max-width: 500px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.company_single_item_area_sub img {
	max-width: 150px !important;
	width: auto;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}
.company_main_text_area h3 {
	text-align: center;
	padding-bottom: 30px;
}
/* Carsel area start  */
.company_main_area .owl-nav {
	display: block !important;
}
.company_main_area .owl-next {
	position: absolute;
	right: -30px;
	top: 0;
	bottom: 0;
	outline: none;
}
.company_main_area .owl-prev {
	top: 0;
	bottom: 0;
	left: -30px;
	position: absolute;
	outline: none;
}
.company_main_area .owl-next span,
.company_main_area .owl-prev span {
	font-size: 71px;
	display: inline-block;
}

/*  ====================   Health Main area start   =================== */

/*  ====================   Health Main area start   =================== */

.contactSection {
	background-color: transparent;
	margin: 5%;
}
.contactSection .container {
	box-shadow: 0 0 10px 0px rgba(215, 215, 215, 0.24);
	border-radius: 5px;
	padding: 0;
	max-width: 1200px;
	width: 85%;
	display: flex;
	/* z-index: 1000; */
}

.contactSection h1 {
	color: #000;
}

.info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 4rem 3.5rem;
	border-radius: 5px;
	background-color: #1b2a39;
}

.info-content {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10%;
}

.info-content i {
	margin-right: 0.5em;
}

.info-content h2 {
	font-size: 16px;
}
.info-text p {
	color: #fff;
}

.form-area {
	padding: 3% 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #f7f2ee;
}

.form-area h1 {
	font-size: 28px;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	margin-top: 2%;
}

form > * {
	min-width: 45%;
	margin-bottom: 3%;
	margin-right: 5%;
}

form > div:nth-child(5) {
	min-width: 95%;
}

form .form-control {
	font-size: 1.2rem;
}

form .btn {
	display: block;
	height: 3em;
	min-width: 20%;
	font-size: 1.5rem;
	margin: 0 auto;
}

input {
	height: 3em;
}

iframe {
	z-index: 1 !important;
}

/*  ====================   Health Main area start   =================== */

/*  ====================   Health Main area start   =================== */
.footer_main_area {
	background: url('../images/footer.jpg') no-repeat scroll 0 0 / cover;
	position: relative;
	padding: 70px 0 50px 0;
	margin-top: 5%;
}
.footer_main_area:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: -o-linear-gradient(
		rgba(12, 28, 53, 0.5),
		rgba(12, 28, 53, 0.7),
		rgba(12, 28, 53, 0.9),
		rgba(12, 28, 53, 1)
	);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(12, 28, 53, 0.5)),
		color-stop(rgba(12, 28, 53, 0.7)),
		color-stop(rgba(12, 28, 53, 0.9)),
		to(rgba(12, 28, 53, 1))
	);
	background-image: linear-gradient(
		rgba(12, 28, 53, 0.5),
		rgba(12, 28, 53, 0.7),
		rgba(12, 28, 53, 0.9),
		rgba(12, 28, 53, 1)
	);
	z-index: 1;
}
.footer_main_text_area {
	position: relative;
	z-index: 999;
}
.footer_bottom_single_item.footer_bottom_single_item1 a img {
	width: 176px;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}
/* Footer Top area start  */
.footer_main_bottom_area {
	border-top: 1px solid #fff;
	padding-top: 50px;
	margin-top: 30px;
}
.footer_main_top_area h3 {
	color: #fff;
}
.footer_top_single_items h5 {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 16px 0 6px 0;
}
.footer_top_single_items ul li a {
	color: #fff;
	font-size: 17px;
	display: inline-block;
}
a.number_f,
a.email_f {
	font-size: 25px !important;
	font-weight: 700;
}
.footer_bottom_single_item.footer_bottom_single_item1 p {
	color: #fff;
	font-size: 14px;
	padding-top: 26px;
}
.footer_bottom_single_item h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 16px;
}
.footer_bottom_single_item ul li a {
	color: #fff;
	font-size: 15px;
	display: inline-block;
	text-transform: uppercase;
	line-height: 1.9;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.footer_bottom_single_item ul li a:hover {
	text-decoration: underline;
}
.footer_bottom_single_item.footer_bottom_single_item4 h4 {
	padding-bottom: 0;
}
.footer_bottom_single_item.footer_bottom_single_item4 p {
	color: #fff;
	font-size: 15px;
	padding-bottom: 20px;
}
.form_main_area input {
	text-align: center;
	width: 100%;
	margin: 10px 0px;
	border: none;
	padding: 13px 8px;
	font-size: 18px;
}

/*     == ================================================================= ==     */
/*                              About main page area start                         */
/*     == ================================================================= ==     */

.about_overview_main_area {
	padding: 100px 0 30px 0;
}
.about_overview_main_text_area {
	background-color: #f7f2ee;
}
.about_overview_single_main_item img {
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}
/* Right Site area start  */
.about_overview_single_main_item {
	position: relative;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.about_overview_single_main_text_item {
	max-width: 300px;
}
.about_overview_single_main_text_item h4 {
	text-transform: uppercase;
	font-weight: 700;
}
.about_overview_single_main_text_item ul li {
	font-size: 18px;
	line-height: 2;
	display: inline-block;
}
.about_overview_single_main_text_item ul li span img {
	width: 15px;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}
.about_overview_single_main_text_item a {
	position: absolute;
	right: 0;
	bottom: 0;
	text-transform: uppercase;
	padding: 13px 38px;
	font-size: 18px;
	border: 1px solid #bda687;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.about_overview_single_main_text_item a:hover {
	background-color: rgba(189, 166, 135, 0.5);
	border: 1px solid #bda687;
}

/*  ====================   2.About Overview area End   =================== */

/*  ================   3.About scroll spy menu area Start   ============== */
/* .about_main_menu_area{
  position: sticky;
  top: 0;
  background-color: #fff;
} */
.about_main_menu_text {
	border: 1px solid #bda58a;
	border-left: none;
	border-right: none;
}
.about_main_menu_text ul li a {
	text-transform: uppercase;
	color: #e5e2e1;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #bda58a;
	background-color: transparent;
}
/*  ================   3.About scroll spy menu area End   ============== */

/*  ================   4.View main area Start   ============== */
.about_view_main_area {
	padding: 40px 0;
}
.about_view_main_text_area ul li {
	font-size: 20px;
}
.about_view_main_text_area p {
	font-size: 20px;
	padding-top: 30px;
}

/*  ================   4.View main area Start   ============== */

/*  ====================   5.About Gallery area start   =================== */
.about_gallery_main_item_area {
	position: relative;
}
.work_overly ul {
	height: 100%;
}
.work_overly {
	position: absolute;
	left: 0%;
	top: 0;
	width: 100%;
	height: 350px;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
}
.about_gallery_main_item_area:hover .work_overly {
	opacity: 1;
	top: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	visibility: visible;
}
.work_overly ul li a {
	font-size: 3rem;
	background: #02baab;
	height: 4.5rem;
	width: 4.5rem;
	display: inline-block;
	text-align: center;
	margin-bottom: 1rem;
	border-radius: 50%;
	color: #fff;
}
.about_gallery_main_text_area h4 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 24px;
}
.about_gallery_main_item_area img {
	width: 100%;
	height: 350px;
	-o-object-fit: cover;
	object-fit: cover;
}
/*  ====================   5.About Gallery area End   =================== */

/*  ====================   6.About Floor area start   =================== */
.about_floor_main_area {
	padding: 50px 0;
}
.about_floor_main_text_area h4 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 25px;
}
.about_floor_main_single_item img {
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}
/*  ====================  6. About Floor area End   =================== */

/*  ====================   7.About Map area start   =================== */
.about_map_main_area {
	padding: 50px 0;
}
.about_map_main_text_area h4 {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.map_single_item_area iframe {
	width: 100%;
	height: 700px;
}

/*     == ================================================================= ==     */
/*                               About main page area End                          */
/*     == ================================================================= ==     */

/*     == ================================================================= ==     */
/*                               Blog main page area Start                          */
/*     == ================================================================= ==     */
.blog_main_menu {
	background-color: rgba(0, 0, 0, 0.2);
}
.blog-showcase {
	background: url('../images/b-banner.png') no-repeat scroll 0 0 / cover;
	height: 50vh;
	position: relative;
}
.blog-showcase:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 100%;
}
.blog_banner_main_text_area h2 {
	position: absolute;
	bottom: 10%;
	left: 10%;
	z-index: 99;
	text-transform: uppercase;
	font-size: 42px;
}
/*  ====================   7.About Map area start   =================== */

/*  ====================   7.About Map area start   =================== */
.blog_search_main_area {
	padding: 5% 0 2.5%;
}
.blog_search_main_text_area {
	background-color: #f7f2ee;
	padding: 21px 40px;
}
.blog_search_main_area select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 5px;
	border: 1px solid #dfdfdf;
	padding: 1rem;
	background-color: #fff;
}
.blog_search_main_area select,
.blog_search_single_main_item input {
	width: 100%;
	height: 40px;
	padding: 0 12px;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 0;
	border: none;
}
.blog_search_single_main_item input[type='submit'] {
	-webkit-appearance: button;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.blog_search_single_main_item input[type='submit']:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
/*  ====================   7.About Map area start   =================== */

/*  ====================   7.About Map area start   =================== */

/* .blog_card_main_area {
	padding: 0 0 5%;
} */
.blog_card_main_text_area .row > * {
	padding-bottom: 2.5%;
}
.blog_card_single_item_img_area a > img,
.blog_card_single_item_img_area > img {
	width: 100%;
	height: 350px;
	-o-object-fit: cover;
	object-fit: cover;
}
.blog_card_single_item_img_area {
	position: relative;
}
.blog_card_single_item_img_area:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: 99;
}
.blog_card_single_item_img_area:hover:after {
	background-color: rgba(0, 0, 0, 0);
}
.blog_card_single_item_text {
	background: #f7f2ee;
	padding: 30px 20px;
}
.blog_card_single_item_text h4 {
	font-size: 24px;
}
.blog_card_single_item_text p {
	font-size: 20px;
	line-height: 1.8;
}
.blog_card_single_item_text p span img {
	width: 15px;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}
/*  ====================   7.About Map area start   =================== */

/*  ====================   7.About Map area start   =================== */
.blog_testimonial_main_area {
	padding: 50px 0;
}
.blog_testimonial_item_area {
	text-align: center;
}
.blog_testimonial_item_area span img {
	width: 50px;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
	padding-bottom: 15px;
}
.blog_testimonial_item_area p {
	font-size: 36px;
}
/*  ====================   7.About Map area start   =================== */

/*  ====================   7.About Map area start   =================== */
.blog_happiness_main_area {
	padding: 50px 0;
}
.blog_happiness_single_item {
	text-align: center;
}
.blog_happiness_single_item h3 {
	padding-bottom: 20px;
	color: #1f3e5b;
}
.blog_happiness_single_item p {
	font-size: 22px;
	text-align: justify;
	padding: 1% 20%;
}

/*  ====================   7.About Map area start   =================== */

/*  ====================   7.About Map area start   =================== */
.blog_mission_main_area {
	padding: 50px 0px 70px 0;
}
.blog_mission_item_main_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	row-gap: 80px;
	-webkit-column-gap: 70px;
	-moz-column-gap: 70px;
	column-gap: 70px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* image area start  */
.blog_mission_item_img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(48% - 35px);
	flex: 0 0 calc(48% - 35px);
}
.blog_mission_single_item img {
	width: 100%;
}
.blog_mission_single_item {
	position: relative;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.blog_mission_single_item:hover .blog_mission_single_item_overly {
	opacity: 1;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.blog_mission_single_item_overly {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 999;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.blog_mission_single_item_overly h4 {
	color: #1f3e5b;
}
.blog_mission_single_item:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.blog_mission_single_item:hover:after {
	background-color: rgba(255, 255, 255, 0.5);
}

/* Text mission area start */
.blog_mission_item_text {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(52% - 35px);
	flex: 0 0 calc(52% - 35px);
}
/* .blog_mission_single_item_text {
	max-width: 400px;
} */
.blog_mission_single_item_text p {
	font-size: 18px;
	padding-bottom: 2%;
}

.blog_mission_item_text:nth-child(odd) .blog_mission_single_item_text {
	float: right;
}

/*     == ================================================================= ==     */
/*                               Blog main page area End                          */
/*     == ================================================================= ==     */

.whatsapp_main_area {
	position: absolute;
	right: 20px;
	width: 40px;
	height: 40px;
	background: green;
	z-index: 9999;
	bottom: 20px;
	position: fixed;
	border-radius: 50px;
	text-align: center;
}
.whatsapp_main_area a {
	display: inline-block;
	color: #fff;
	font-size: 25px;
}
